header {
  font-family: Calibri;
  color: Blue;
}

body {
  font-size: 15px;
  color: green;
}

footer {
  font-weight: bold;
  font-size: 30px;
}

p {
  font-family: Calibri;
  text-align: center;
}

h1 {
  text-align: left;
  font-size: 20px;
}

ul {
  text-align: left;
  font-weight: bold;
}

ol {
  font-family: Georgia;
  font-size: 25px;  
}
