header {
  font-family: Calibri;
  color: red;
}

body {
  font-family: Calibri;
  color: green;
}

footer {
  font-family: Calibri;
  color: yellow;
}

p {
  font-family: Calibri;
  color: blue;
}

h1 {
  font-family: Calibri;
  color: orange;
}

ul {
  font-family: Calibri;
  color: brown;  
}

ol {
  font-family: Calibri;
  color: purple;
}
