header {
  font-family: Calibri;
  color: green;
}

body {
  font-family: Calibri;
  color: green;
}

foorter {
  font-family: Calibri;
  color: green;
}

p {
  font-family: Calibri;
  color: green;
}

h1 {
  font-family: Helvetica;
  color: Blue;
}

ul {
  font-family: Calibri;
  color: green;  
}

ol {
  font-family: Calibri;
  color: green;
}
